body { 
background-color : lightyellow;
font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}


.auto-style1 {
border-style: solid;
border-width : 8px;
padding:15px;
background-color: lightblue;
width:700px;
margin :auto;
margin-top:100px;
text-align :center;
}

strong {
font-size : 42px
}